<div>

    {% if documents.len() == 0 %}
    <h1 class="text-xl"> No documents found</h1>
    {% else %}
    <h1 class="text-xl"> Search results</h1>
    {% endif %}

    <h1 class=" font-light text-md  mt-3 mb-3">
        Query time: {{ time_ms }}ms
    </h1>
    <h1 class=" font-light text-md mb-6">
        Searched tokens:
        {% for t in tokens %}
        {{t}}
        {% if !loop.last %}
        -
        {% endif %}
        {% endfor %}
    </h1>


    {% for doc in documents %}


    <div id="{{doc.path}}" class="toggle-container">
        <div id="{{doc.path}}_closed" class="bg-neutral-800 p-6 rounded-md shadow-md mb-6">
            <h2 class="text-xl font-semibold mb-4">
                {{ doc.path }}
            </h2>
            <p class="text-neutral-300">
                {{ doc.content|truncate(150) }}
            </p>
        </div>
        <div id="{{doc.path}}_open" class="bg-neutral-800 p-6 rounded-md shadow-md mb-6" style="display:none;">
            <h2 class="text-xl font-semibold mb-4">
                {{ doc.path }}
            </h2>
            <p class="text-neutral-300">
                {{ doc.content }}
            </p>
        </div>
    </div>

    {% endfor %}



</div>