<div>

    <!-- Title -->
    <h1 class="text-xl"> Search results</h1>
    <h1 class=" font-light text-sm  mt-1 mb-6">Query time: {{ time_ms }}ms</h1>

    <!-- Documents -->
    {% for doc in documents %}

    <div>
        <div class="bg-neutral-800 p-6 rounded-md shadow-md mb-6">
            <h2 class="text-xl font-semibold mb-4">
                {{ doc.path }}
            </h2>
            <p class="text-neutral-300">
                {{ doc.content|truncate(300) }}
            </p>
        </div>
    </div>

    {% endfor %}

</div>